<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">

</head>
<body>
    <nav>
        <div class="navbar">
            <div class="navbar-left">
                <img src="../asset/logo.jpg" alt="">
                <div class="title" style="font-size: 40px; padding-left: 50px;"><span
                    style="color: blue;">ROYAL</span> <span style="color: red;">HOTEL</span>
                </div>
            </div>
            <div class="navbar-center">  
                <div><a href="../index.html">Home</a></div>
                <div><a href="../index.html">Review</a></div>
                <div><a href="../index.html">Best HOTEL</a></div>
                <div><a href="#contact">Contact</a></div>
            </div>
            <form action="">
                <button><a href="../components/login.html">Login</a></button>
                <button><a href="../components/register.html">Register</a></button>
            </form>
        </div>
    </nav>
    <form action="" class="login">
        <h1>Login</h1>
        <div class="input">
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
        </div>
        <div class="Remember-Forgot">
            <div class="remember-me">
                <input type="checkbox">
                <div>Remember me</div>
            </div>
            <a href="#">forgpot Password</a>
        </div>
        <button class="btn-login">Login</button>
        <p>Do you have an account? <a href="../components/register.html">Register</a></p>
    </form>
</body>
</html>